{{#each comments as |comment|}}
<div class="col-md-8 mt-3 ml-2 mr-2 bg-white ml-auto float-right">

    <div class="w3-card" style="margin: 10px 0px 20px 40px;">

        <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{comment.user.profile_picture}}"
                width="40">
            <div class="d-flex flex-column justify-content-start ml-2"><span
                    class="d-block font-weight-bold name">{{comment.user.first_name}} {{comment.user.last_name}}</span>

            </div>
        </div>

        <footer class="w3-white" style="padding-left: 10px;">
            <p>
                {{comment.comment_text}}
            </p>
            {{#if comment.owner }}
            <div class="w3-bar">
                <a href="/api/comment/edit/{{comment.id}}" class="w3-button w3-black">Edit</a>
                <a href="/api/comment/delete/{{comment.id}}" class="w3-button w3-black">Delete</a>
            </div>
            {{/if}}

        </footer>
    </div>

</div>
{{/each}}