<div class="row d-flex justify-content-center artwork-list">
    {{#if artworks.length}}
    {{#each artworks as |artwork|}}
    <div class="card col-md-3 m-4" style="padding: 0;">

        <div class="card-header">
            Grade level: {{artwork.grade_level}}-th
        </div>
        <img class="card-img-top rounded-circle mx-auto d-block" src="{{artwork.links}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a href="{{artwork.links}}" target="_blank">{{artwork.title}}</a></h5>
            <p class="card-text" style="color: black;">{{artwork.description}}</p>
            <a href="/api/artwork/{{artwork.id}}" class="btn btn-sm btn-color">View Artwork</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                Submited by: {{artwork.user.first_name}} {{artwork.user.last_name}}
                <br>


            </small>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h3 class="mt-5 bg-info text-white">No artworks submited at all</h3>
    {{/if}}
</div>