<div class="container">
  <div class="row m-3">
    <div class="col-sm-7 mr-5">
      <img class="card-img-top p-2" src="{{art.file_path}}" alt="Card image cap">
    </div>
    <div class="card col-sm-4" style="padding: 0;">
      <div class="card-header">
        <span class="float-left">Grade level: {{art.grade_level}}-th</span>
        <br>
        <span class="float-right">Visit repo, <a href="{{art.repo_link}}" target="_blank">here</a></span>
      </div>
      <a href="https://drive.google.com/file/d/{{art.links}}/view?usp=sharing" target="_blank">
        <img class="card-img-top rounded-circle mx-auto d-block"
          src="https://drive.google.com/thumbnail?id={{art.links}}" alt="Card image cap">
      </a>
      <div class="card-body">
        <h5 class="card-title"><a href="{{art.links}}" target="_blank">{{art.title}}</a></h5>
        <p class="card-text">{{art.description}}</p>
        {{!-- <a href="https://drive.google.com/file/d/{{art.links}}/view?usp=sharing" target="_blank"
          class="btn btn-primary">View
          Artwork</a> --}}
        {{!-- <a href="{{art.links}}" target="_blank" class="btn btn-primary">View
          Artwork</a> --}}

      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: 10px;">Submited by: {{art.user.first_name}} {{art.user.last_name}}
          <br>
          on {{ format_date art.date_created}}
          <br>

        </small>

      </div>
    </div>


  </div>
</div>