<div class="sidebar">
    <header>
        <a href="profilepage">{{first_name}} {{last_name}}</a>
    </header>
    <ul>
        <li>
            <a href="/api/post">
                <i class="fas fa-plus-circle mr-2"></i>
                Add artwork
            </a>
        </li>
        <li><a href="/api/users/artworks">Artworks</a></li>
    </ul>
</div>


<div class="main">
    <nav class="navbar" style="background-color: gray;">
        <div class="ml-1 navbar-brand">
            <img src="/assets/pictures/favicon.ico" width="35" height="35" class="d-inline-block mr-1 mb-3"
                alt="Envision">
            <a href="/">
                <h1 class="d-inline-block mb-0" style="color: black;">Envision</h1>
            </a>
        </div>
        <div class="navbar-brand">
            <div class="navbar-brand">
                {{#if loggedIn}}
                <button id="logout" type="button" class="btn btn-light text-dark me-2">LogOut</button>
                {{else}}
                <a href="/login">
                    <button type="button" class="btn btn-light text-dark me-2">LogIn</button>
                </a>
                <a href="signup">
                    <button type="button" class="btn btn-color">Sign-up</button>
                </a>
                {{/if}}
            </div>
        </div>
    </nav>
    <div class="row d-flex justify-content-center">
        {{#if artworks.length}}
        {{#each artworks as |artwork|}}
        <div class="card col-md-3 m-3">
{{!--            {{#if artwork.image_link}}
            <a href="{{artwork.image_link}}" target="_blank">
                <img class="card-img-top p-2" src="{{artwork.image_link}}" alt="Card image cap">

            </a>

            {{else}} --}}
            <img class="card-img-top p-2" src="https://drive.google.com/thumbnail?id={{artwork.links}}"}}
                alt="Card image cap">
            {{!-- {{/if}} --}}
            <div class="card-body">

                <h5 class="card-title"><a href="/api/artwork/{{artwork.id}}" target="_blank">{{artwork.title}}</a></h5>
                <a href="/api/artwork/{{artwork.id}}" target="_blank" class="btn btn-primary">More Info</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Submited: {{ format_date artwork.date_created}}</small>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h3 class="mt-5 bg-info text-white">No artworks submited</h3>
        {{/if}}
    </div>

</div>

{{#if loggedIn}}
<script src="../../logout.js"></script>
{{/if}}