<<<<<<< HEAD
<body>
    <nav class="navbar" style="background-color: gray">
        <div class="ml-4 navbar-brand">
            <img src="/assets/pictures/favicon.ico" width="35" height="35" class="d-inline-block mr-2 mb-3"
                alt="Envision" />
            <a href="/">
                <h1 class="d-inline-block mb-0" style="color: black">Envision</h1>
            </a>
        </div>
    </nav>
    
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="sidebar">
                    <header>Name</header>
                    <ul>
                        <li>
                            <button type="button" class="btn add-btn">
                                <i class="fas fa-plus-circle mr-2"></i>Add artwork
                            </button>
                        </li>
                        <li><a href="#">Artworks</a></li>
                    </ul>
                </div>
            </div>
=======

<div class="row d-flex justify-content-center">
    {{#if artworks.length}}
    {{#each artworks as |artwork|}}
    <div class="card col-sm-3 m-3">
        <img class="card-img-top p-2" src="https://loremflickr.com/320/240/random={{artwork.id}}" alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title"><a href="{{artwork.links}}" target="_blank">{{artwork.title}}</a></h5>
            <p class="card-text">{{artwork.description}}</p>
            <a href="{{artwork.links}}" target="_blank" class="btn btn-primary">View Artwork</a>
>>>>>>> main
        </div>
        <div class="card-footer">
            <small class="text-muted">Submited: {{artwork.date_created}}</small>
        </div>
    </div>
<<<<<<< HEAD

=======
    {{/each}}
    {{else}}
    <h3 class="mt-5 bg-info text-white">No artworks submited</h3>
    {{/if}}
</div>
>>>>>>> main

{{#if loggedIn}}
<script src="../../logout.js"></script>
{{/if}}