
<div class="row d-flex justify-content-center">
    {{#if artworks.length}}
    {{#each artworks as |artwork|}}
    <div class="card col-sm-3 m-3">
        <img class="card-img-top p-2" src="https://loremflickr.com/320/240/random={{artwork.id}}" alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title"><a href="{{artwork.links}}" target="_blank">{{artwork.title}}</a></h5>
            <p class="card-text">{{artwork.description}}</p>
            <a href="{{artwork.links}}" target="_blank" class="btn btn-primary">View Artwork</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">Submited: {{artwork.date_created}}</small>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h3 class="mt-5 bg-info text-white">No artworks submited</h3>
    {{/if}}
</div>

{{#if loggedIn}}
<script src="../../logout.js"></script>
{{/if}}